#main_container{
    font-family: $primary-font-family;
    display: flex;
    flex-direction: column;
    background-color: #F6F6F6;
    box-shadow: $basic-shadow;
    margin: auto;
    padding: 50px 0;
    h2{
        width: 90%;
        margin: auto;
        padding-bottom: 20px;
    }
    .restaurants_card{
        width: 90%;
        height: 270px;
        margin: 20px auto;
        background: white;
        border-radius: 20px;
        box-shadow: $basic-shadow;
        position: relative;
        &__newpopup{
            background-color: $third-color;
            position: absolute;
            bottom: 225px;
            right: 15px;
            font-size: 15px;
            padding: 7px 14px;
            box-shadow: 0px 6px 2Px 1px #00000054;
        }
        &__block{
            padding-top: 12px;
            padding-left: 14px;
            position: relative;
            span{
                font-weight: bold;
            }
            p{
                margin: 5px 0;
                font-size: 15px;
            }
            i{
                position: absolute;
                right: 20px;
                bottom: 12px;
                font-size: 20px;
                cursor: pointer;
            }
            .fas{
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                opacity: 0;
                background: -webkit-linear-gradient(0deg, rgba(156,89,220,1) 13%, rgba(255,121,218,1) 79%);
                transition: 1000ms ease-in-out;
            }
        }
        > a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            position: relative;
            > img{
                object-fit: cover;
                width: 100%;
                height: 73%;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
        }
    }
}


.container_logo_restaurant{
    height: 250px;
    img{
        width: 100%;
        height: 120%;
        object-fit: cover;
    }
}

.restaurant_name{
    background: #F6F6F6;
    position: relative;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    font-family: $primary-font-family;
    padding-bottom: 70px;
    .restaurant_header{
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
        position: relative;
        h2{
            padding-top: 20px;
            font-family: $secondary-font-family;
            font-size: 23px;
        }
        i{
            font-size: 20px;
            position: absolute;
            right: 35px;
        }
        .fas{
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity: 0;
            background: -webkit-linear-gradient(0deg, rgba(156,89,220,1) 13%, rgba(255,121,218,1) 79%);
            /* transition: 1000ms ease-in-out; */
        }
    }

    .starters, .main_courses, .desserts{
        width: 90%;
        opacity: 0;
        margin: auto;
        display: flex;
        flex-direction: column;
        .recipes{
            background-color: #FFFFFF;
            border-radius: 15px;
            margin-bottom: 15px;
            box-shadow: $basic-shadow;
            display: flex;
            cursor: pointer;
            overflow: hidden;
            opacity: 0;
            transform: translateY(40%);
            transition: 500ms ease-in-out;
            &__box{
                width: 100%;
                padding-left: 15px;
                display: flex;
                margin: 15px 0;
                overflow: hidden;
            }
            &__texts{
                width: 86%;
                overflow: hidden;
                span{
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                p{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-top: 5px;
                    margin-bottom: 0;
                }
            }
            .price{
                font-weight: bold;
                display: flex;
                align-items: flex-end;
                margin-right: 5px;
            }
            &__check_animation{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 80px;
                margin-right: -80px;
                background: $third-color;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                overflow: hidden;
                transition: 500ms ease-in-out;
                i{
                    color: white;
                    font-size: 20px;
                }
            }
        }
    }

    button{
        display: block;
        margin: 30px auto 0px auto;
    }
}

@media screen and (min-width: 426px){

    .restaurant_name{
        .starters, .main_courses, .desserts{
            .recipes{
                &__texts{
                    width: 93%;
                }
            }    
        }        
    }
}

@media screen and (min-width: 1024px){

    .restaurant_name{
        .starters, .main_courses, .desserts{
            .recipes{
                &__texts{
                    width: 95%;
                }
            }    
        }        
    }
}


