$primary-font-family: 'roboto', sans-serif;

$secondary-font-family: 'Shrikhand', cursive;

@mixin title_typo{
    font-family: $secondary-font-family;
    text-align: center;
}

@mixin secondary_typo{
    font-family: $primary-font-family;
    text-align: center;
}


