footer{
    background-color: black;
    font-family: $primary-font-family;
    color: #FFFFFF;
    padding: 25px 0 30px 0;
    h3{
        font-family: $secondary-font-family;
        font-size: 20px;
        width: 90%;
        margin: auto;
    }
    p{
        margin: 10px 0;
    }
    .footer_container{
        width: 90%;
        margin: auto;
        a{
            text-decoration: none;
            color: white;
        }
        .bold{
            font-weight: bold;
            i{
                width: 10px;
                margin-right: 20px;
            }
        }
    }

}