.loading{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    z-index: 2;
    cursor: progress;
    animation: disapear 0ms 4700ms forwards;
}

.spinner{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    div{
        margin: 0 10px;
        z-index: 3;
        width: 35px;
        height: 35px;
        border-radius: 50%;
    }
    div:first-child{
        background-color: $primary-color;
        animation: loading 1500ms 3 ease-in-out;
    }
    div:nth-child(2){
        background-color: $secondary-color;
        animation: loading 1500ms 100ms 3 ease-in-out;
    }
    div:nth-child(3){
        background-color: $third-color;
        animation: loading 1500ms 200ms 3 ease-in-out;
    }
}
